@media (max-width: 640px) {
    .hide-on-small {
        display: none !important;
    }
}

@media (min-width: 640px) {
    .hide-on-medium {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .hide-on-big {
        display: none !important;
    }
}
